/** {
	margin: 0;
}*/

/* border -> chegara chizig'i */
/* border-style -> chegara chizig'ining uslubi */
/* border-width -> chegara chizig'ining kengligi */
/* border-color -> chegara chizig'ining kengligi */

/* border-style: top right bottom left; */
.sinf-1 {
	border: 3px solid black;
	/*border-top-right-radius: 10px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 1px;*/
	border-radius: 5px 10px 20px 1px;
}