/*

	Selector - Tanlovchilar
	1-html teg (h2) - X,
	2-sinf nomi (.sinf-1) - ,
	3-id nomi (#id-1) - X.

*/

body {
	margin: 0;
	padding: 0;
}

.fon-1 {
	width: 100%;
	height: 100vh;
/*	background-color: red;*/
	background-image: url("../img/rasm.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.space {
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}